/* Add this CSS to your stylesheet or component */
.row {
    display: flex;
  }
  
.cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #f8fff9;
    color: black;
}

/* Add any additional styling as needed */
.ultimate-board {
    flex-wrap: wrap;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
}  

/* Styles for positioning */
.game-container {
    position: absolute;
    left: 0;
    top: 0;
    background-color: #181719;
    width: 100%;
    height: 100%;
}

.game-information {
    width: 25%;
    height: 25%;
    background-color: #181719;
    border: 2px solid white;
    position: absolute;
    left: 0;
    top: 0;
    text-align: left;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.title {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.turn {
    position: absolute;
    top: 0;
    font-size: 2rem;
}

.your_turn{
    color: rgb(72, 185, 72);
}

.opponent_turn{
    color: rgb(238, 78, 78);
}

.active_cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #f8fff9;
    color: black;
    transition: 0.2s;
    border-radius: 5%;
}

.active_cell:hover {
    background-color: #b7dfe7;
}

.active_cell:hover ::before {
    border:hwb(from color h w b);
}

.inactive_cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    background-color: #f8fff9;
    color: black;
    opacity: 0.7;
    transition: .2s;
    border-radius: 8%;
}

.your_winner_cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7;
    transition: .2s;
    border-radius: 8%;
    background-color: rgb(72, 185, 72);
    color: white;
}

.your_winner_cell:hover {
    background-color: rgb(140, 218, 170);
}

.opponent_winner_cell {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    opacity: 0.7;
    transition: .2s;
    border-radius: 8%;
    background-color: rgb(238, 78, 78);
    color: white;
}

.opponent_winner_cell:hover {
    background-color: rgb(255, 153, 153);
}

.inactive_cell:hover {
    background-color: rgb(171, 171, 171);
}